.profilecard {
  margin-bottom: 1rem;
  border-radius: 8px;
  background: $white;
  padding: 1.5rem;
  box-shadow: $box-shadow;

  .card-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    @include mobile() {
      grid-template-columns: 100%;
    }
  }

  .details {
    .title {
      color: lightgrey;
      font-weight: 900;
      font-size: 15px;
      margin-bottom: 0.2rem;
    }

    .value {
      font-weight: 900;
      font-size: 15px;
      margin-bottom: 0.4rem;
      .tag-text {
        font-size: 15px;
      }
    }
  }
}